.container{
  background-color: grey;
}

#mainContainer{
  background-color: pink;
}
#mainInfo{
  background-color: blue;
}

#favoritInfo{
  background-color: yellow;
}
.description {
    color: #2c1886;
    font-weight: bold;
    font-size: 20px;
  }
  
  .temp {
    font-size: 18px;
  }
  
  .highlow {
    font-size: 14px;
    color: #666;
  }