body{
  background-image: url("background4.jpeg");
}

h1{
  text-align: center;
  color: #1D71F2
}


#mainInfo{

   color: #666;
  
}

.mainContainer{
  margin:10px;
}
#h2stad{
  color: #1D71F2;
}

input[type="text"], textarea {

  background-color : #E3F4FE; 

}

#li {
  background-color : #E3F4FE; 
}



.description {
    color: #1C9CF6;
    font-weight: bold;
    font-size: 20px;
}
  
  .temp {
    font-size: 18px;
  }
  
  .highlow {
    font-size: 14px;
    color: #FFCD00;
  }
  #h{
    font-size: 12px;
  }

  #p{
    font-size: 12px;
  }
  



